@charset "UTF-8";
:root {
  --scrollbar-width: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
body:has(.js-modal-show) {
  overflow: hidden;
}
body:has(.js-modal-show),
body:has(.js-modal-show) .header {
  padding-inline-end: var(--scrollbar-width, 0);
}

h1 {
  font-size: 3.2rem;
  text-align: center;
}
@media screen and (min-width: 601px) {
  h1 {
    font-size: 4.8rem;
  }
}

h2 {
  margin-bottom: 48px;
  font-size: 3.2rem;
  text-align: center;
}
@media screen and (min-width: 601px) {
  h2 {
    font-size: 4rem;
  }
}

h3 {
  margin-bottom: 24px;
  font-size: 2.4rem;
}
@media screen and (min-width: 601px) {
  h3 {
    font-size: 3.2rem;
  }
}

h4 {
  margin-bottom: 8px;
  font-size: 1.6rem;
}
@media screen and (min-width: 601px) {
  h4 {
    font-size: 2.4rem;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

p,
a,
li,
button,
dt,
dd,
label {
  font-size: 1.4rem;
}
@media screen and (min-width: 601px) {
  p,
  a,
  li,
  button,
  dt,
  dd,
  label {
    font-size: 1.6rem;
  }
}

input,
textarea {
  font-size: 1.6rem;
}

p {
  margin-bottom: 1em;
  line-height: 1.7;
}

a {
  line-height: 1em;
  text-decoration: underline;
}

a,
button,
[role=button],
input,
textarea {
  cursor: pointer;
}

a:focus,
button:focus,
input[type=submit]:focus {
  opacity: 0.8;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

@media screen and (min-width: 1025px) {
  a:hover,
  button:hover,
  input[type=submit]:hover {
    opacity: 0.8;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  }
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  line-height: 1em;
}

figcaption {
  margin-top: 12px;
  font-size: 1.4rem;
  text-align: center;
}
@media screen and (min-width: 601px) {
  figcaption {
    margin-top: 16px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #a09070;
  color: #29241b;
  z-index: 1000;
  width: 100%;
  height: 64px;
}
@media screen and (min-width: 601px) {
  .header {
    height: 80px;
  }
}
.header__container {
  max-width: 600px;
  margin: 0 auto;
}
.header__container .gnav__items {
  display: flex;
  justify-content: space-around;
  margin: 8px 0;
}
@media screen and (min-width: 601px) {
  .header__container .gnav__items {
    margin: 16px 0;
  }
}
.header__container .gnav__items .gnav__item {
  width: calc(100% / 5);
  animation: gnav-fade-in 1s cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
}
@media screen and (min-width: 601px) {
  .header__container .gnav__items .gnav__item {
    width: auto;
    min-width: 100px;
  }
}
@keyframes gnav-fade-in {
  0% {
    opacity: 0.5;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.header__container .gnav__items .gnav__item .gnav__link {
  display: block;
  margin: 0 auto;
  padding: 8px 0 16px 0;
  text-decoration: none;
  text-align: center;
}
@media screen and (min-width: 601px) {
  .header__container .gnav__items .gnav__item .gnav__link {
    font-size: inherit;
  }
}
.header__container .gnav__items .gnav__item .gnav__link.js-current-link .gnav__text::before {
  display: none;
}
.header__container .gnav__items .gnav__item .gnav__link.js-current-link .gnav__text::after {
  transform: scale(1, 1);
}
.header__container .gnav__items .gnav__item .gnav__link:focus .gnav__text::before {
  bottom: -12px;
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media screen and (min-width: 601px) {
  .header__container .gnav__items .gnav__item .gnav__link:focus .gnav__text::before {
    bottom: -16px;
  }
}
@media screen and (min-width: 1025px) {
  .header__container .gnav__items .gnav__item .gnav__link:hover .gnav__text::before {
    bottom: -16px;
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
.header__container .gnav__items .gnav__item .gnav__link .gnav__text {
  display: inline-block;
  position: relative;
  line-height: 1.5;
  letter-spacing: 0;
}
.header__container .gnav__items .gnav__item .gnav__link .gnav__text::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  bottom: -8px;
  width: 8px;
  height: 4px;
  background-color: #29241b;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
}
@media screen and (min-width: 601px) {
  .header__container .gnav__items .gnav__item .gnav__link .gnav__text::before {
    width: 10px;
    height: 5px;
    bottom: -12px;
  }
}
.header__container .gnav__items .gnav__item .gnav__link .gnav__text::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #29241b;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  content: "";
}
@media screen and (min-width: 601px) {
  .header__container .gnav__items .gnav__item .gnav__link .gnav__text::after {
    bottom: -8px;
  }
}
.header.js-header-scrolled {
  background-color: #ddd7cc;
  color: #29241b;
  box-shadow: 0px 10px 10px -5px rgba(41, 36, 27, 0.5);
}
.header.js-header-scrolled .header__container .gnav__items .gnav__item .gnav__link .gnav__text::before, .header.js-header-scrolled .header__container .gnav__items .gnav__item .gnav__link .gnav__text::after {
  background-color: #29241b;
}

.top {
  position: relative;
  height: 100svh;
  background-color: #a09070;
  color: #29241b;
}
.top__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 16px;
}
.top__inner .top__title--small, .top__inner .top__title--large {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.top__inner .top__title--small {
  margin-bottom: 16px;
  font-size: 1.6rem;
}
@media screen and (min-width: 601px) {
  .top__inner .top__title--small {
    font-size: 2.4rem;
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(1) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 1) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(2) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 2) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(3) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 3) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(4) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 4) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(5) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 5) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(6) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 6) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(7) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 7) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(8) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 8) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(9) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 9) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(10) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 10) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(11) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 11) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(12) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 12) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(13) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 13) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(14) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 14) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(15) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 15) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--small .top__title--animated:nth-of-type(16) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1s + 0.04s * 16) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(1) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 1) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(2) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 2) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(3) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 3) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(4) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 4) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(5) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 5) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(6) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 6) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(7) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 7) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(8) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 8) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(9) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 9) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(10) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 10) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(11) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 11) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(12) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 12) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(13) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 13) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(14) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 14) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(15) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 15) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(16) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 16) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
.top__inner .top__title--large .top__title--animated:nth-of-type(17) {
  animation: display-title 1s cubic-bezier(0.165, 0.84, 0.44, 1) calc(1.8s + 0.06s * 17) backwards;
}
@keyframes display-title {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}

.bottom .section {
  padding: 96px 0;
}
@media screen and (min-width: 601px) {
  .bottom .section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    padding: 128px 0;
  }
}
.bottom .section:nth-of-type(odd) {
  background-color: #484030;
  color: #f1efeb;
}
.bottom .section:nth-of-type(even) {
  background-color: #ddd7cc;
  color: #29241b;
}
.bottom .section__container {
  margin: 0 auto;
  padding: 0 8px;
  padding: 0 16px;
}
@media screen and (min-width: 601px) {
  .bottom .section__container {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1025px) {
  .bottom .section__container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 12px;
  }
}
.bottom .section__container .section__lead-text {
  margin-bottom: 32px;
}
.bottom .section.about .section__container .about__detail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}
.bottom .section.about .section__container .about__detail .about__image-area .about__figure {
  width: 120px;
  aspect-ratio: 36/41;
}
@media screen and (min-width: 601px) {
  .bottom .section.about .section__container .about__detail .about__image-area .about__figure {
    width: 180px;
  }
}
@media screen and (min-width: 1025px) {
  .bottom .section.about .section__container .about__detail .about__text-area {
    width: calc(100% - 180px - 48px);
  }
}
.bottom .section.skills .section__container .skills__category {
  margin-bottom: 48px;
}
@media screen and (min-width: 601px) {
  .bottom .section.skills .section__container .skills__category {
    margin-bottom: 64px;
  }
}
.bottom .section.skills .section__container .skills__category .skills__category-title {
  position: relative;
  padding-left: 1em;
}
.bottom .section.skills .section__container .skills__category .skills__category-title::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 0.8em;
  height: 2px;
  background-color: #29241b;
  content: "";
}
.bottom .section.skills .section__container .skills__category .skills__items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
}
@media screen and (min-width: 601px) {
  .bottom .section.skills .section__container .skills__category .skills__items {
    gap: 24px 32px;
  }
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item {
  width: 100%;
}
@media screen and (min-width: 601px) {
  .bottom .section.skills .section__container .skills__category .skills__items .skills__item {
    width: calc((100% - 32px) / 2);
  }
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__name {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 1.8rem;
}
@media screen and (min-width: 601px) {
  .bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__name {
    font-size: 2.2rem;
  }
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level {
  display: block;
  position: relative;
  height: 24px;
  border: 1px solid #29241b;
  background-color: #ddd7cc;
}
@media screen and (min-width: 601px) {
  .bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level {
    height: 30px;
  }
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--animated {
  display: block;
  height: 100%;
  color: #f1efeb;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--html {
  max-width: 80%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--css {
  max-width: 80%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--sass {
  max-width: 60%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--js {
  max-width: 60%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--gas {
  max-width: 60%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--jquery {
  max-width: 70%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--vue {
  max-width: 30%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--php {
  max-width: 30%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--node {
  max-width: 40%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--express {
  max-width: 40%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--java {
  max-width: 20%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--python {
  max-width: 20%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--git {
  max-width: 60%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--wordpress {
  max-width: 50%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--photoshop {
  max-width: 60%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--office {
  max-width: 70%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--apache {
  max-width: 30%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item .skills__level--cent {
  max-width: 30%;
}
.bottom .section.skills .section__container .skills__category .skills__items .skills__item.js-show-skill-level .skills__level--animated {
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  height: 25px;
  background-color: #29241b;
  line-height: 25px;
  text-align: center;
  animation: level-display 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s forwards;
}
@keyframes level-display {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@media screen and (min-width: 601px) {
  .bottom .section.skills .section__container .skills__category .skills__items .skills__item.js-show-skill-level .skills__level--animated {
    height: 30px;
    line-height: 30px;
  }
}
.bottom .section.works .section__container .works__items {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
@media screen and (min-width: 601px) {
  .bottom .section.works .section__container .works__items .works__item {
    width: calc((100% - 32px * 1) / 2);
  }
}
@media screen and (min-width: 1025px) {
  .bottom .section.works .section__container .works__items .works__item {
    width: calc((100% - 32px * 2) / 3);
  }
}
.bottom .section.works .section__container .works__items .works__item .works__figure .works__image {
  aspect-ratio: 16/9;
  border: 2px solid #ddd7cc;
}
.bottom .section.works .section__container .works__items .works__item .works__figure .works__image:focus {
  transform: scale(1.05);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}
@media screen and (min-width: 1025px) {
  .bottom .section.works .section__container .works__items .works__item .works__figure .works__image:hover {
    transform: scale(1.05);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  }
}
.bottom .section.works .section__container .works__items .works__item .works__figure .works__figcaption .works__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
}
@media screen and (min-width: 601px) {
  .bottom .section.works .section__container .works__items .works__item .works__figure .works__figcaption .works__tags {
    margin-top: 16px;
  }
}
.bottom .section.works .section__container .works__items .works__item .works__figure .works__figcaption .works__tags .works__tag {
  background-color: #ddd7cc;
  color: #29241b;
  padding: 4px 12px;
  border-radius: 28px;
  font-size: 1.2rem;
  line-height: 1;
}
.bottom .section.works .section__container .works__items .works__item .modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  z-index: 9998;
  width: 100%;
  height: 100dvh;
  background-color: rgba(41, 36, 27, 0.5);
  animation: fade-in 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s backwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show {
  display: flex;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__button {
  display: block;
  position: fixed;
  top: 24px;
  right: 16px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  background-color: #484030;
}
@media screen and (min-width: 601px) {
  .bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__button {
    top: 48px;
    right: 32px;
    width: 48px;
    height: 48px;
  }
}
@media screen and (min-width: 1025px) {
  .bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__button {
    top: 96px;
    right: calc(50% - 1024px / 2);
  }
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__button--close::before, .bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__button--close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 84%;
  height: 4%;
  margin: -8% 0 0 -42%;
  background-color: #ddd7cc;
  content: "";
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__button--close::before {
  transform: rotate(45deg);
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__button--close::after {
  transform: rotate(-45deg);
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container {
  top: 100px;
  width: 100%;
  height: auto;
  max-height: calc(100svh - 24px * 2);
  overflow-y: auto;
  overscroll-behavior-y: contain;
  margin: 24px 16px 0;
}
@media screen and (min-width: 601px) {
  .bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container {
    right: 32px;
    max-height: calc(100svh - 48px * 2);
    margin: 48px 32px;
  }
}
@media screen and (min-width: 1025px) {
  .bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container {
    max-width: 1024px;
    max-height: calc(100svh - 96px * 2);
    margin: 96px 0;
  }
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project {
  background-color: #ddd7cc;
  color: #29241b;
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner {
  padding: 48px 16px;
}
@media screen and (min-width: 1025px) {
  .bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner {
    padding: 48px;
  }
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__title {
  font-size: 2.4rem;
  text-align: center;
}
@media screen and (min-width: 601px) {
  .bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__title {
    font-size: 2.8rem;
  }
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__summary {
  margin-bottom: 24px;
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__summary .project__link {
  display: inline-block;
  font-weight: 700;
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__summary .project__link.project__icon-external {
  position: relative;
  padding-right: 4px;
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__summary .project__link.project__icon-external::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  right: -1em;
  width: 1em;
  height: 1em;
  background-image: url(../images/icon_external.svg);
  background-size: contain;
  content: "";
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info {
  margin-bottom: 16px;
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info .project__info-title {
  font-size: 1.6rem;
}
@media screen and (min-width: 601px) {
  .bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info .project__info-title {
    font-size: 2rem;
  }
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info .project__info-items .project__info-item {
  position: relative;
  margin-bottom: 4px;
  padding-left: 16px;
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info .project__info-items .project__info-item::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  content: "・";
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info .project__thumbnails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info .project__thumbnails .project__thumbnail {
  width: calc((100% - 16px * 2) / 3);
}
@media screen and (min-width: 601px) {
  .bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info .project__thumbnails .project__thumbnail {
    width: calc((100% - 16px * 3) / 4);
  }
}
@media screen and (min-width: 1025px) {
  .bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info .project__thumbnails .project__thumbnail {
    width: calc((100% - 16px * 4) / 5);
  }
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info .project__thumbnails .project__thumbnail .project__figure .project__image {
  aspect-ratio: 16/9;
  border: 2px solid #484030;
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info .project__thumbnails .project__thumbnail .project__figure .project__image:focus {
  transform: scale(1.05);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}
@media screen and (min-width: 1025px) {
  .bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info .project__thumbnails .project__thumbnail .project__figure .project__image:hover {
    transform: scale(1.05);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  }
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info .project__thumbnails .project__thumbnail .project__figure .project__figcaption {
  display: none;
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info .project__thumbnails .project__thumbnail:last-of-type {
  margin-right: 0;
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-show .modal__container .project__inner .project__info .project__large-image-wrap .project__figure .project__image {
  aspect-ratio: 16/9;
  cursor: inherit;
}
.bottom .section.works .section__container .works__items .works__item .modal.js-modal-hide {
  opacity: 0;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
.bottom .section.contact .section__container .contact__form {
  background-color: #484030;
  margin: 0 auto;
  padding: 32px 16px;
}
@media screen and (min-width: 1025px) {
  .bottom .section.contact .section__container .contact__form {
    max-width: 600px;
    padding: 48px;
  }
}
.bottom .section.contact .section__container .contact__form .contact__category {
  margin-bottom: 16px;
}
.bottom .section.contact .section__container .contact__form .contact__category:last-of-type {
  margin-bottom: 32px;
}
.bottom .section.contact .section__container .contact__form .contact__category .contact__label {
  display: block;
  padding: 12px 0;
  color: #ddd7cc;
}
.bottom .section.contact .section__container .contact__form .contact__category .contact__input {
  background-color: #ddd7cc;
  color: #29241b;
  width: 100%;
  padding: 8px;
}
.bottom .section.contact .section__container .contact__form .contact__category .contact__input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #ddd7cc inset;
}
.bottom .section.contact .section__container .contact__form .contact__category .contact__input::-moz-placeholder {
  opacity: 0.8;
  color: #29241b;
  font-size: 1.2rem;
}
.bottom .section.contact .section__container .contact__form .contact__category .contact__input::placeholder {
  opacity: 0.8;
  color: #29241b;
  font-size: 1.2rem;
}
@media screen and (min-width: 601px) {
  .bottom .section.contact .section__container .contact__form .contact__category .contact__input::-moz-placeholder {
    font-size: 1.4rem;
  }
  .bottom .section.contact .section__container .contact__form .contact__category .contact__input::placeholder {
    font-size: 1.4rem;
  }
}
.bottom .section.contact .section__container .contact__form .contact__category .contact__textarea {
  background-color: #ddd7cc;
  color: #29241b;
  width: 100%;
  height: 200px;
  resize: none;
  padding: 8px;
}
.bottom .section.contact .section__container .contact__form .contact__category .contact__textarea::-moz-placeholder {
  opacity: 0.8;
  color: #29241b;
  font-size: 1.2rem;
}
.bottom .section.contact .section__container .contact__form .contact__category .contact__textarea::placeholder {
  opacity: 0.8;
  color: #29241b;
  font-size: 1.2rem;
}
@media screen and (min-width: 601px) {
  .bottom .section.contact .section__container .contact__form .contact__category .contact__textarea::-moz-placeholder {
    font-size: 1.4rem;
  }
  .bottom .section.contact .section__container .contact__form .contact__category .contact__textarea::placeholder {
    font-size: 1.4rem;
  }
}
.bottom .section.contact .section__container .contact__form .contact__submit {
  display: block;
  width: 125px;
  margin: 0 auto;
  padding: 12px 16px;
  background-color: #a09070;
  border-radius: 20px;
  color: #f1efeb;
  text-align: center;
  line-height: 1;
}
.bottom .section.contact .section__container .contact__form .contact__submit[desabled] {
  cursor: not-allowed;
  opacity: 0.8;
}
.bottom [data-visible=false] {
  opacity: 0;
}
.bottom [data-visible=true] {
  animation: fade-in-from-bottom 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s forwards;
}
@keyframes fade-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  background-color: #484030;
  color: #f1efeb;
  padding: 16px 0;
  text-align: center;
}

.footer__copyright {
  font-size: 1.2rem;
}/*# sourceMappingURL=index.css.map */